.container {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  max-width: 785px;
}

.container h1 {
  margin-bottom: -.5rem;
}

.content {
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
} 

.callToAction {
  max-width: 100%;
  display: flex;
  gap: .8rem;
  flex-wrap: wrap;
}

.callToAction button {
  flex-grow: 1;
}

@media (max-width: 850px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  
  .content {
    padding: 2rem;
    max-width: 650px;
  }
}