.container {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  max-width: 1000px;
  padding: 4rem;
  border: 2px solid #8b49ff;
  border-radius: 1rem;
  margin: 1rem;
}

.container h1 {
  margin-bottom: -.5rem;
}

.content {
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
} 

.callToAction {
  max-width: 100%;
  display: flex;
  gap: .8rem;
  flex-wrap: wrap;
}

.callToAction button {
  flex-grow: 1;
}

@media (max-width: 850px) {
  .container {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    border: none;
  }
  
  .content {
    padding: 2rem;
    max-width: 650px;
  }
}